# R programming

The link for my resource is [Here](https://www.youtube.com/watch?v=_V8eKsto3Ug)

## Factors
this topic might be useful depending on what we do.
This have to do with categories and names.

An attribure of a vector that specifies the possible values and their order.

This is the [data structure to handle the categorical variables](https://www.youtube.com/watch?v=xkRBfy8_2MU). Please watch this [video](https://www.youtube.com/watch?v=xkRBfy8_2MU)

In [3]:
(x1 <- 1:3)
(y  <- 1:9)

(df1 <- cbind.data.frame(x1, y))  #cbind is combine
typeof(df1$x1)
str(df1)

[1] 1 2 3

[1] 1 2 3 4 5 6 7 8 9

  x1 y
1 1  1
2 2  2
3 3  3
4 1  4
5 2  5
6 3  6
7 1  7
8 2  8
9 3  9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x1: int  1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [4]:
# This will still look the same as the previous but in str(df2), it will show the different result.
(x2  <- as.factor(c(1:3)))
(df2 <- cbind.data.frame(x2, y))
typeof(df2$x2)
str(df2)

[1] 1 2 3
Levels: 1 2 3

  x2 y
1 1  1
2 2  2
3 3  3
4 1  4
5 2  5
6 3  6
7 1  7
8 2  8
9 3  9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x2: Factor w/ 3 levels "1","2","3": 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [8]:
# DEFINE EXISTING VARIABLE AS FACTOR #######################

(x3  <- c(1:3))
df3 <- cbind.data.frame(x3, y)
(df3$x3 <- factor(df3$x3,
  levels = c(1, 2, 3)))
typeof(df3$x3)
str(df3)

[1] 1 2 3

[1] 1 2 3 1 2 3 1 2 3
Levels: 1 2 3

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x3: Factor w/ 3 levels "1","2","3": 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [10]:
# LABELS FOR FACTOR ########################################

x4  <- c(1:3)
df4 <- cbind.data.frame(x4, y)
df4$x4 <- factor(df4$x4,
  levels = c(1, 2, 3),
  labels = c("macOS", "Windows", "Linux"))
df4
typeof(df4$x4)   # the type of still shows integer as a type
str(df4)

  x4      y
1 macOS   1
2 Windows 2
3 Linux   3
4 macOS   4
5 Windows 5
6 Linux   6
7 macOS   7
8 Windows 8
9 Linux   9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x4: Factor w/ 3 levels "macOS","Windows",..: 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [12]:
# ORDERED FACTORS AND LABELS ###############################

x5  <- c(1:3)
(df5 <- cbind.data.frame(x5, y))
(df5$x5 <- ordered(df5$x5,
  levels = c(3, 1, 2),
  labels = c("No", "Maybe", "Yes")))
df5
typeof(df5$x5)
str(df5)

  x5 y
1 1  1
2 2  2
3 3  3
4 1  4
5 2  5
6 3  6
7 1  7
8 2  8
9 3  9

[1] Maybe Yes   No    Maybe Yes   No    Maybe Yes   No
Levels: No < Maybe < Yes

  x5    y
1 Maybe 1
2 Yes   2
3 No    3
4 Maybe 4
5 Yes   5
6 No    6
7 Maybe 7
8 Yes   8
9 No    9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x5: Ord.factor w/ 3 levels "No"<"Maybe"<"Yes": 2 3 1 2 3 1 2 3 1
 $ y : int  1 2 3 4 5 6 7 8 9

This is very important in experimental research